@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;0,900;1,400;1,600&family=Oswald:wght@300;400;500&display=swap');

*{
  --background: #36393f;
  text-decoration: none;
  --header: #23272a;
  box-sizing: border-box;
  --accent: rgba(244, 154, 115, 0.855);
  --overlay: #838383;
  color: white;
  --toastify-color-progress-dark: var(--accent);
}

html, body{
  height: 100%; 
}

body{
  background-color: var(--background);
  position: relative;
  font-family: Verdana, sans-serif;
  margin: 0;
}

button{
  color: black;
}


caption, input{
  color: black;
}
.loader{
  width: 40vw;
  align-self: center;
}

.orange-font{
  color: var(--accent);
}

@media only screen and (min-width:1025px) {
.space-between{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
}



/*For Form*/

.liquid-form{
  display: flex;
  flex-direction: column;
  padding: 0vh 50px 2vh 50px;
  background-color: var(--overlay);
  border-radius: 1vh;
  border: 1px solid white;
  max-width: 80vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
input{
  height: 3em;
  border-radius: 1vh;
}

input:focus{
  outline-offset: 0px ! important;
  outline: none ! important;
  border : 1px var(--accent) ! important;
  box-shadow : 0 0 3px var(--accent) ! important;
  -moz-box-shadow : 0 0 3px var(--accent) ! important;
  -webkit-box-shadow : 0 0 3px var(--accent) ! important;

}


input[type="radio"] {
  accent-color: var(--accent)
}

/*Home Page */

.home-page{
  color: white;
  align-self: center;
  width: 80vw;
}

.home-page > .paragraph > .text-content > h2{
  font-size: 2rem;
  color: var(--accent);
}

.home-page > .paragraph > .text-content > p{
  font-size: 1.2rem;
}

.home-page > .paragraph >img{
  width: 80vw;
}

@media only screen and (min-width:1025px) {

  .home-page{
    padding-top: 3vw;;
  }
  .paragraph{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-page > .paragraph >img{
    width: 35vw;
  }

  .home-page > .paragraph > .text-content {
    width: 35vw;
  }

}


/* For Body Metrics page */

.body-comp-page{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* For Results Page*/


.results-page{
  color: white;
  align-self: center;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.results-page > article > h2 {
  font-size: 2rem;
  color: var(--accent);
}

.results-page > article > p {
  font-size: 1.4rem;
}

.results-page > article > p > a {
  font-size: 1.4rem;
  color: var(--accent);
}

.results-page > article > img {
  width: 80vw;
}

.results-page > h1{
  padding-top: 30vh;
  padding-bottom: 30vh;
  font-size: 2rem;
  color: white;
}

.results-page > h1 > em {
  color: var(--accent);
}

@media only screen and (min-width:1025px) {
  .results-page > article > img {
    align-self: center;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.body-comp-page > h2   {
  text-align: center;
}
.body-comp-page > h2 > a {
  color: var(--accent)
}

.clickable{
  color: rgb(244, 154, 115);
  font-weight: 800;
  text-shadow: 0 0 1px black;
  text-decoration: underline;
}

.body-metrics-form > label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.body-metrics-form > label > input{
  max-width: 10vw;
} 


.body-metrics-form > label > svg {
  color: var(--accent)
}

.help-page{
  color: white;
  width: 70vw;
}

.help-page > h2, .help-page > h3{
  color: var(--accent);
}

.help-page >p {
  font-size: 1.2rem;
}


/*NOT FOUND*/

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hamburger{z-index: 2;}

/*Hero*/

@media only screen and (min-width:1025px) {
  .hero{
    display: flex;
    align-items: center;
    gap: 5vw;
  }

  .hero > img{
    width: 37.5vw;
    transform: scaleX(-1);
  }
}

/*Drinks Consumed*/

.drinks-consumed-page{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  
}
.drink-box-container{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.drink-box{
  background-color: var(--overlay);
  border-radius: 5px;
  border: 2px solid white;
  width: 80vw;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

.drink-box-expanded{
  display: flex;
  gap: 3vw;
  flex-direction: column;
  position: relative; /* Stay in place */
  top: 0; /* Stay at the top */
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: all 0.4s linear;
}
.drink-box-expanded > .label-container {
  width: auto;
}


@media only screen and (min-width:1000px) {
  .drink-box-expanded{
    flex-direction: row;
    align-items: flex-start;
  }
  .drink-box-expanded > .label-container {
    width: 30vw;
  }
  .drink-box-expanded > table {
    width: 30vw;
  }
}

.drink-box > .drink-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters__chevron {
  border-radius: 2px;
  transition: all 0.25s linear;
}

.filters__chevron.rotate {
  transform:rotate(180deg);
}

.drinks-consumed-page{
  min-height: 80vh;
}
